
/* Game Area */
.game__area {
  width: 1366px;
  height: 750px;
  //background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.path{
  background-color: red;
  height: 600px;
  width: 20px;
}

.health{
  background-color: red;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  margin-top: 10px;
}