@keyframes changesize{
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  

  .title--big {
    font-size: 80px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
    animation: changesize 1.5s infinite alternate ease-in;
  }

  .instruction__message {
    text-align: center;
    font-size: 20px;
  }

  .text--starter {
    text-align: center;
    font-size: 50px;
  }

  .line__trigger {
    background: grey;
    height: 3px;
    width: 50%;
    border-radius: 1em;
  
  }

  .instruction__bloc {
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .instruction__key {
      font-size: 20px;

    }
  }
  .game__display {
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    .game__fireplaces {
      position: absolute;
      width: 850px;
      height: 200px;
      background-color: red;
      
    }
  }
}