.infoBoxes{
  position: absolute;
  top:20px;
  right: 1vw;
  width: 20%;
  text-align: right;
  

  .box--rules, .box--info{
    position: relative;
  }

  .infoBoxes__button{
    width: 70px;
    transition: all;
    font-weight: bold;
    display: inline-block;
    position: relative;
    z-index: 3;
  }
  
  .infoBox{
    position: relative;
    right: -90%;
    top: -20px;
    background-color: #fff;
    color: #000;
    border: solid 3px black;
    font-weight: bold;
    width: 0%;
    height: 0;
    overflow-x: hidden;
    text-align: left;
    transition: all 0.3s 0s, opacity 0.1s .2s;
    a,p{
      opacity: 0;
    }
    p{
      margin-bottom: 15px;
    }
    .infoBox--rules__fire{
      width: 20%;
      margin-top: 20px;
    }

    .infoBox__title {
      text-decoration: underline;
    }

    &.infoBox--active{
      height: auto;
      opacity: 1;
      padding: 15px;
      padding-top: 30px;
      right: 15px;
      width: 100%;
      margin-left: 0%;
      a,p{
        opacity: 1;
      }
    }
  }
}