@keyframes blink{
  to   {transform: scale(1);}
  from  {transform: scale(1.05);}
}
.title{
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  text-align: center;
  width:40%;
  left:30%;
  position: absolute;
  &.title--main{
    top: 25vh;
  }
  
  &.title--sub{
    animation: blink 0.75s ease-in-out infinite alternate;
    top: 55vh;
  }&.title--end{
    animation: blink 0.75s ease-in-out infinite alternate;
    top: 30vh;
  }
}

.home {
  height: 100vh;
  overflow-y: hidden; 
}

.gameInfo--home {
  
}

