.game{
  //overflow-y: hidden;
  //max-height:100vh;
  background-color: $color--bg;
  //Snow

  font-family: sans-serif;
  overflow-x: hidden;
  /* Snow inspired by Codepen Jonathan Ekström */ 
  background-image: url(../img/SVG/snowFlakes-3.svg),url(../img/SVG/snowFlakes-4.svg);
  animation: snow 20s linear infinite;
	right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 0;
  background-repeat: no-repeat;
}

@keyframes snowü { 
  0% { background-position: 0px 0px, 0px 0px, 0px 0px }
  100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

.section--game{
  position: relative;
  height: 72vh;
  
}
.site--game .section--game {
   margin-top: 100px;
}
.section--house{
  position: relative;
  height: auto;
  height: 50.3vw;
  overflow-y: hidden;
 
}
